.sidebarBoton {
    position: absolute !important;
    top: 56px !important;
    left: 0 !important;
}

@media (max-width: 1695px) {
    .sidebarBoton {
        position: absolute !important;
        top: 56px !important;
        left: 0 !important;
    }

}

@media (max-width: 1219px) {
    .sidebarBoton {
        position: absolute !important;
        top: 56px !important;
        left: 0 !important;
    }

}

/*
SIDEBAR MEDIAQUERYS

.sidebarBoton {
    position: absolute;
    top: 80px;
    left: 0;
}
*/