.custom {
    background-color: #3282B8 !important;
}

.bodyCustom {
    background-color: #f8f8f8 !important;
}

.colorRed {
    background-color: #EB5353 !important;
}

.colorYellow {
    background-color: #F9D923 !important;
}

.colorGreen {
    background-color: #36AE7C !important;
}

.colorBlue {
    background-color: #3a99be !important;
}


/*BUTTON CUSTOM*/
/*CERRAR SESSION*/
.buttonCustom {
    display: inline-block !important;
    padding: 0.2em 0.9em !important;
    border: 0.1em solid #ffffff !important;
    background-color: #3282B8;
    margin: 0 0.3em 0.3em 0 !important;
    border-radius: 0.30em !important;
    box-sizing: border-box !important;
    text-decoration: none !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 250 !important;
    color: #ffffff !important;
    text-align: center !important;
    transition: all 0.3s !important;
}

.buttonCustom:hover {
    color: #ffffff !important;
    background-color: #c23434 !important;
}


/*CREAR DOCUMENTO*/
.buttonCustomCrear {
    display: inline-block !important;
    padding: 0.2em 0.9em !important;
    border: 0.1em solid #ffffff !important;
    background-color: #3282B8;
    border-radius: 0.30em !important;
    box-sizing: border-box !important;
    text-decoration: none !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    color: #ffffff !important;
    text-align: center !important;
    transition: all 0.3s !important;
}

.buttonCustomCrear:hover {
    color: #ffffff !important;
    background-color: #1b9c66 !important;
}

/*COLOR ACTIVO DE LA LISTA*/
a .text-center,
.active {
    background-color: #3282B8 !important;
    color: #ffffff !important;
}

/*MODIFICA BACKGROUND  DEL COLOR DATA-TABLE*/
table .active,
.show {
    background-color: #fafafa !important;
    color: black !important;
}

/*BOTÓN MENU LATERAL*/

.lateral{
    display: none !important;
}
@media (max-width: 768px) {
    .lateral{
        display: inline-block !important;
        position:sticky !important;
        
    }
    .bodyCustom{
        background-color: lightblue !important;
    }
}