.custom {
    background-color: #3282B8 !important;
}


.colorRed {
    background-color: #EB5353 !important;
}

.colorYellow {
    background-color: #F9D923 !important;
}

.colorGreen {
    background-color: #36AE7C !important;
}

.colorBlue {
    background-color: #3a99be !important;
}


/*COLOR ACTIVO DE LA LISTA
a .text-center,
.active {
    background-color: #3282B8 !important;
    color: #ffffff !important;
}

/*MODIFICA BACKGROUND  DEL COLOR DATA-TABLE
table
.show {
    background-color: #ffffffa1 !important;
    color: black !important;
}
*/
/*BOTÓN MENU LATERAL*/

.lateral {
    display: none !important;
}

@media (max-width: 1200px) {
    .lateral {
        display: inline-block !important;
        position: absolute !important;
        top: 64px !important;
    }
}

.buttonX {
    display: none !important;

}

@media (max-width: 1200px) {
    .buttonX {
        display: inline-block !important;
        position: absolute !important;
        margin-left: 10px;
        margin-top: 2px;
    }
}
